@model Portfolyo.Models.Resume
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Öz Geçmiş Düzenleme</h2>
<br />

<form class="form-group" asp-action="Index" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <label>İsim</label>
    <br />
    <input asp-for="Name" class="form-control" />
    <br />
    <label>Soyisim</label>
    <br />
    <input asp-for="Surname" class="form-control" />
    <br />
    <label>Fotoğraf</label>
    <br />
    <input asp-for="Photo" type="file" required=""  />
    <br />
    <label>Ünvan</label>
    <br />
    <input asp-for="Title" class="form-control" />
    <br />
    <label>Cinsiyet</label>
    <br />
    <input asp-for="Sex" class="form-control" />
    <br />
    <label>Adres</label>
    <br />
    <input asp-for="Address" class="form-control" />
    <br />
    <label>Email</label>
    <br />
    <input asp-for="Email" class="form-control" />
    <br />
    <label>Linkedin</label>
    <br />
    <input asp-for="LinkedinLink" class="form-control" />
    <br />
    <label>Github</label>
    <br />
    <input asp-for="GithubLink" class="form-control" />
    <br />
    <label>Instagram</label>
    <br />
    <input asp-for="InstagramLink" class="form-control" />
    <br />
    <label>1. Açıklama</label>
    <br />
    <input asp-for="Description1" class="form-control" />
    <br />
    <label>2. Açıklama</label>
    <br />
    <input asp-for="Description2" class="form-control" />
    <br />
    <label>Hakkımda Başlık</label>
    <br />
    <input asp-for="AboutTitle" class="form-control" />
    <br />
    <label>Hakkımda Açıklama</label>
    <br />
    <textarea asp-for="AboutDescription" class="form-control"></textarea>
    <br /><br /><br />
    <button class="btn btn-success">Devam Et</button>
</form>

