@model Portfolyo.Models.Education
@{
    ViewData["Title"] = "UpdateEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eğitim Güncelle</h2>
<br />
<form class="form form-group" asp-action="UpdateEducation" asp-controller="Admin" method="post">
    <label>Eğitim ID</label>
    <br />
    @Html.TextBoxFor(x => x.EducationID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <label>Eğitim Yeri</label>
    <br />
    <input asp-for="EducationName" class="form-control" />
    <br />
    <label>Eğitim Açıklama</label>
    <br />
    <textarea asp-for="EducationDescription" class="form-control"></textarea>
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>

